[submodule "src/rva"]
	path = src/rva
	url = https://github.com/Kraken-collab/rva.git
[submodule "tools/build-tools"]
	path = tools/build-tools
	url = https://github.com/Kraken-collab/f4-build-tools.git
